html, body {
    background-color: #383838;
    font-family:'josefin Sans', 'Lucida Sans Regular', 'Lucida Grande';
    margin: 100px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.definition{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 5px
}

.gifs {

    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    
}

img {
    height: 200px;
    width: 200px;
    top: 0px;
    left: 0px;
}

@media screen and (max-width: 990px) {
    img {
       width: 150%;
       height: 150%;
       top: 0px;
        left: 0px;
    }
}

@media screen and (max-width: 768px) {
    img {
        width: 150%;
        height: 150%;
        top: 0px;
    left: 0px;
    }
}

@media screen and (max-width: 576px) {
    img {
        width: 150%;
        height: 150%;
        top: 0px;
    left: 0px;
    }
    #define1 {
        padding: 50px 0 0 0;
       font-size: 10px
    }
    #define2 {
        padding: 10px 0 0 0;
       font-size: 10px}

     #define3 {
        padding: 10px 0 0 0;
       font-size: 10px    }
     
       #define4 {
        padding: 10px 0 0 0;
       font-size: 10px    }
     
       #define5 {
        padding: 10px 0 0 0;
       font-size: 10px    }
}