html, body {
    background-color: #383838;
    font-family:'josefin Sans', 'Lucida Sans Regular', 'Lucida Grande';
    margin: 100px;
}

/*For search bar*/
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*to style defintions when they populate to the page*/
.definition{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 5px
}

/*To style the Gif grid when they populate to the page*/
.gifs {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}

/*To style gif size*/
img {
    height: 200px;
    width: 200px;
}

/* Tablets */
@media screen and (max-width: 990px) {
    img {
       width: 150%;
       height: 150%;
    }
    #define1 {
        padding: 10px;
       font-size: 10px
    }
}

/* Large smartphones */
@media screen and (max-width: 768px) {
    img {
        width: 150%;
        height: 150%;
    }
    #define1 {
        padding: 10px;
       font-size: 10px
    }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
    img {
        width: 150%;
        height: 150%;
    }
    #define1 {
        padding: 10px;
       font-size: 10px
    }
}